/*********************** Fonts *******************************/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');


/***********************************************************
                        Global Styles
***********************************************************/
*{
    padding:0;
    margin:0;
}

section{
    width: 100%;
    height: 100vh;
}

/***********************************************************
                        nav styles
***********************************************************/
nav{
    height: 100px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.navbar-default {
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(0,0,0,0) !important;}

.navbar-default .navbar-brand {
    color: #fff !important;
    font-weight: 700;
    font-size: x-large;
}

.navbar-nav  li  a {

    font-weight: 600;
}
.navbar .navbar-default .navbar-fixed-top .sticky .navbar-nav > li > a {
    color: #fff !important;
    font-weight: 600;
}
.navbar-default .navbar-toggle {
    border-color: rgba(0,0,0,0) !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff !important;
}

.navbar-collapse, .navbar-header {
    
    padding-top: 10px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(43, 41, 41, 0.062)!important;
    padding-left: 5%;

}

.sticky {
    height: 100px;
    background-color: #fff !important;
    -webkit-box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
    box-shadow: 0 2px 40px 8px rgba(15, 15, 15, 0.15);
}
@media only screen and (max-width: 990px){
   
}
.navbar-collapse{
    padding-top: 30px;
    margin-right: 5%;
}
.navbar-header button{
    margin-top: 30px;
}

.nav-logo img{
    height: 60px;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

/***********************************************************
                        Home section
***********************************************************/
#home{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(/assets/images/intro-bg.jpg);
    background-size: cover;
}


.navbar-light .navbar-brand{
    color: #fff !important;}

.navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
.banner_section{
    padding-top: 15%;
}
.banner_title{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.banner_title_end{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.banner_text{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.more_bt{
    margin-top: 2%;
    background-color: orangered;
    border-radius: 100px;
    width: 150px;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.more_bt:hover{
    background-color:rgb(90, 49, 136);
    border-radius: 100px;
    text-decoration: none;
    
}
@media only screen and (max-width: 990px){

    .banner_section{
        padding-top: 40%;
    }
    .banner_title{
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
    }
    .banner_title_end{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    .banner_text{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font: 8px !important;
    }
    .banner_img img{
        padding-top: 20%;
        padding-left: 10%;
        width: 80% !important;
    }
    
}
#about{
    background-color: green;
}

#test{
    background-color: blue;
}

#test1{
    background-color: cadetblue;
}
.wrapper {
    height: 500px !important;
