/***********************************************************
                        Global Styles
***********************************************************/
*{
    padding:0;
    margin:0;
}

section{
    width: 100%;
    height: 100vh;
}

/***********************************************************
                        |Home section
***********************************************************/
#home{
    background-color: red;
}

.navbar-default{
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
}

.navbar-default .navbar-brand{
    color:#fff !important;
}
.navbar-default .navbar-nav > li > a{
    color:#fff !important;
}


#about{
    background-color: green;
}

#test{
    background-color: blue;
}

#test1{
    background-color: cadetblue;
}