/***********************************************************
                        Global Styles
***********************************************************/
*{
    padding:0;
    margin:0;
}

section{
    width: 100%;
    height: 100vh;
}

/***********************************************************
                        |Home section
***********************************************************/
#home{
    background-color: red;
}

#about{
    background-color: green;
}

#test{
    background-color: blue;
}

#test1{
    background-color: cadetblue;
}